@model WaiterManagement.Web.Infrastructure.Authentication.IAuthProvider

<span class="caption" id="accountSummary">
	@if (Model.IsLogged)
	{
		<b>Hello: </b>
			<b>@Model.Username</b>
			@Html.ActionLink("logout", "LogOut", null, new { returnUrl = Request.Url }, new { @class = "btn btn-default btn-sm" })
	}
	else
	{
		<b>You are not logged.</b>
		@Html.ActionLink("Login", "Login", null, null, new { @class = "btn btn-default btn-sm" })
		<text> or </text>
		@Html.ActionLink("register", "Register", null, null, new { @class = "btn btn-default btn-sm" })
		<text>.</text>
	}
</span>