@model IEnumerable<WaiterManagement.Common.Views.MenuItemView>

@{

	Layout = null;
}

<h2>Menu</h2>
@foreach (var menuItem in Model)
{
	<div class="barMenuItem">
		@Html.DisplayFor(x => menuItem, "MenuItemTemplate")
	</div>
}

