body {
	font-size: .85em;
	font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
	color: #232323;
	background-color: #fff;
}

header, footer, nav, section {
	display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
	border: 1px solid #ddd;
	padding: 0 1.4em 1.4em 1.4em;
	margin: 0 0 1.5em 0;
}

legend {
	font-size: 1.2em;
	font-weight: bold;
}

textarea {
	min-height: 75px;
}

.editor-label {
	margin: 1em 0 0 0;
}

.editor-field {
	margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
	color: #f00;
}

.field-validation-valid {
	display: none;
}

.input-validation-error {
	border: 1px solid #f00;
	background-color: #fee;
}

.validation-summary-errors {
	font-weight: bold;
	color: #f00;
}

.validation-summary-valid {
	display: none;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.barMenuItem {
	display: inline-block;
	/*list-style-type: disc;*/
	width: 200px;
	height: 200px;
	margin: 10px;
	border-radius: 5px;
	background: #1c1d22;
}

.barMenuItem div {
	display: table;
	width: 100%;
	height: 100%;
}

	.barMenuItem div div {
		display: table-row;
		text-align: center;
		vertical-align: bottom;
		width: 100%;
		margin: 0px;
	}

		.barMenuItem div div table {
			width: 100%;
		}

			.barMenuItem div div table tr td {
				text-align: center;
				width: 100%;
			}

		.barMenuItem div div div {
			display: table-cell;
			vertical-align: bottom;
		}

.ui-datepicker {
	background: #999;
}

.orderItemButton {
	background: #5c5edc;
	background-image: -webkit-linear-gradient(top, #5c5edc, #20204d);
	background-image: -moz-linear-gradient(top, #5c5edc, #20204d);
	background-image: -ms-linear-gradient(top, #5c5edc, #20204d);
	background-image: -o-linear-gradient(top, #5c5edc, #20204d);
	background-image: linear-gradient(to bottom, #5c5edc, #20204d);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	font-family: Arial;
	color: #ffffff;
	font-size: 10px;
	border: solid #5c5edc 0px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

	.orderItemButton:hover {
		background: #800000;
		text-decoration: none;
	}
