@model WaiterManagement.Common.Views.MenuItemView
@{
	var itemId = string.Format("item{0}", Model.MenuItemId);
}
<div>
	<div>
		<table>
			<tr><td>@Model.Title</tr>
			<tr><td>@Model.CategoryTitle</tr>
			<tr><td>@Model.Description</tr>
		</table>
	</div>
	<div>
		<div>
			<button class="orderItemButton" id="@itemId">Add item to cart.</button>
		</div>
	</div>
</div>